/* name input =============================================== */
.description_input {

    position: absolute;
    left: 15px;
    top: -10px;
    
    box-sizing: border-box;
    padding: 0 6px;

    background-color: var(--webchatui--background_color);

}

/* label ==================================================== */
.label {
    
    width: 100%;
    height: 55px;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    background-color: var(--webchatui--background_color);

    box-sizing: border-box;
    padding: 2px 10px 2px 21px;

    position: relative;

    border: 1px solid var(--webchatui--color_inactive);
    border-radius: 15px;

    cursor: pointer;

    transition: border-color .15s linear;

}

/* statuses label ------------------------------------------- */
/* wrong input */
.label:has(input:not([value=""]):invalid) {
    border-color: var(--webchatui--color_muted);
}
/* success input */
.label:has(input:valid) {
    border-color: var(--webchatui--color_active);
}
/* type input */
.label:has(input:focus[value=""]) {
    border-color: var(--webchatui--color);
}