.header {

    width: 100%;

    background-color: var(--webchatui--background_color);
    border-bottom: 1px solid var(--webchatui--background_color_muted);    

    position: fixed;
    left: 0;
    top: 0;

}

.header,
.padding_header {
    height: 50px;
}



.header_container {

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;

}
.header_container > div {
    height: 100%;
}