.logo {

    display: flex;
    align-items: center;
    gap: 8px;

    box-sizing: border-box;
    padding: 10px;

    color: var(--webchatui--color);
    font-size: 1em;
    text-decoration: none;

}



.logo_name {
    display: inline;
}

@media screen and (max-width: 768px) {
    .logo_name {
        display: none;
    }
}